.operator {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background:  radial-gradient(at 50% 0, #232323, #030303);
}
.operator .left {
    width: 470px;
    height: 32px;
    display: flex;
}
.operator .left .danmu-bar {
    display: flex;
    height: 32px;
    align-items: center;
    margin: 0 15px;
    flex: 1;
    border-radius: 5px;
    background: #2a2c2f;
    position: relative;
    box-sizing: border-box;
    padding: 0 10px;
}
.operator .left .danmu-bar .danmu-emoji {
    position: absolute;
    right: 10px;
}
.operator .left .danmu-bar .danmu-input form input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 16px;
    caret-color: red;
}
.operator .left .danmu-bar .split-line {
    width: 2px;
    height: 15px;
    margin: 0 10px 0 0;
    background: #3a3d3f;
}
.operator .left .danmu-bar .danmu {
    height: 32px;
    line-height: 32px;
    margin: 0 10px 0 0;
}
.operator .left .danmu-bar .danmu span {
    font-size: 24px;
    color: white;
    width: 30px;
    text-align: center;
}
.operator .left .play-pot {
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}
.operator .left .play-pot span {
    font-size: 24px;
    color: white;
}
.operator .left .play-duration {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    color: white;
}
.operator .right {
    width: 450px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.operator .right > div {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
.operator .right > div > div {
    margin: 0 2px 0 0;
}
.operator .right > div > span {
    font-size: 18px;
}