.search {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background: #393a44;
    outline: 1px solid #595a62;
    box-sizing: border-box;
    padding: 0 0 0 15px;
}
.search form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.search form > input {
    width: calc(100% - 75px);
    font-size: 18px;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    caret-color: red;
}
.search form > input::placeholder {
    color:#595a62;
}
.search form label {
    display: flex;
    width: 80px;
    height: 100px;
    align-items: center;
}
.search form label > input {
    outline: none;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    padding: 5px 0 5px 5px;
    font-weight: bold;
}
.search form .split-line {
    height: 15px;
    width: 1px;
    background: #595a62;
    margin: 0 10px;
}
.search form label > div:first-child span {
    font-size: 18px;
    color: white;
}